:root {
  --md-ref-typeface-brand: system-ui, sans-serif;
  --md-ref-typeface-plain: system-ui, sans-serif;
}

body {
  margin: 0;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  font-family: system-ui, sans-serif;
}
