# AI
.claude/
.superpowers/
docs/superpowers/plans

# Dependencies
node_modules/
apps/desktop/node_modules

# Build output
dist/
*.app
*.dmg
*.AppImage
*.msi
.vite/

# Run
apps/desktop/repository/
apps/desktop/src/repository/

